/*----------------------------------------------------------------------------
    Main
----------------------------------------------------------------------------*/
div.page-content {
  max-width: 800px;
  margin: auto;
  line-height: 1.7;
}

.foldout {
  cursor: pointer;
}

.foldout::after {
  content: " \2B9F";
}

.foldout.open::after {
  content: " \2B9D";
}
/*----------------------------------------------------------------------------
    Header
----------------------------------------------------------------------------*/
h1#signup-header {
  text-align: center;
  font-size: 3em;
}
/*----------------------------------------------------------------------------
    Storage
----------------------------------------------------------------------------*/
div#storage-controls {
  margin-bottom: 2rem;
}

div#storage-controls h3 {
  font-size: 1.3rem;
}

div#load-signup-wrapper {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

div#load-signup-wrapper label{
  flex-basis: content;  
}
div#load-signup-wrapper :nth-child(2){
  flex-basis: 30%;
}
div#load-signup-wrapper :nth-child(4){
  flex-basis: 20%;
}
div#load-signup-wrapper :nth-child(5){
  flex: 0 0 8%;
}
/*----------------------------------------------------------------------------
    Navigation
----------------------------------------------------------------------------*/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

nav div {
  border: 1px black solid;
  padding: .5em;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

nav div.loading {
  opacity: .5;
}

nav div:hover {
  background-color: dodgerblue;
}

nav div.selected {
  text-decoration: underline;
  font-weight: bold;
}

nav div.disabled,
nav div.disabled:hover {
  background-color: lightgray;
  cursor: not-allowed;
}

nav div.error {
  background-color: salmon;
}

nav div.error:hover {
  background-color: mediumorchid;
}

/*----------------------------------------------------------------------------
    Footer
----------------------------------------------------------------------------*/
button.previous-button,
button.next-button {
  margin-top: 1em;
}

button.previous-button {
  float: left;
}

button.next-button {
  float: right;
}

/*----------------------------------------------------------------------------
    Pages
----------------------------------------------------------------------------*/
div#signup-pages div.signup-page h2 {
  font-size: 2em;
}
/*----------------------------------------------------------------------------
    Section Header
----------------------------------------------------------------------------*/
div.page-content div#signup-pages div.signup-page h3 {
  font-size: 1.5em;
  margin: 1.5rem 0;
}
/*----------------------------------------------------------------------------
    Input general
----------------------------------------------------------------------------*/
div.input-wrapper {
  display: flex;
  margin: .8em 0px;
  flex-wrap: wrap;
}

div.input-wrapper label {
  line-height: 1.5em;
}

div.input-wrapper.required label::after{
  content: "*";
  color: red;
}

.error-text {
  color: red;
  width: 100%;
}
/*----------------------------------------------------------------------------
    Checkbox
----------------------------------------------------------------------------*/
input[type='checkbox'] {
  height: 26px;
  width: 26px;
  margin-right: .8em;
}
/*----------------------------------------------------------------------------
    Input Text/Date/Tele/Email
----------------------------------------------------------------------------*/
div.input-wrapper.input-type-text,
div.input-wrapper.input-type-date,
div.input-wrapper.input-type-tele,
div.input-wrapper.input-type-email {
  justify-content: space-between;
}

div.input-wrapper.input-type-text input,
div.input-wrapper.input-type-date input,
div.input-wrapper.input-type-tele input,
div.input-wrapper.input-type-email input {
  color: black;
  flex-basis: 70%;
  flex-grow: 1;
  padding: 0 1em;
  height: 2rem;
}

div.input-wrapper.input-type-text label,
div.input-wrapper.input-type-date label,
div.input-wrapper.input-type-tele label,
div.input-wrapper.input-type-email label {
  min-width: 30%;
}

div.input-wrapper.input-type-text input:focus,
div.input-wrapper.input-type-date input:focus,
div.input-wrapper.input-type-tele input:focus,
div.input-wrapper.input-type-email input:focus {
  border-color: blue;
}

div.input-wrapper.input-type-text .error-text,
div.input-wrapper.input-type-date .error-text,
div.input-wrapper.input-type-tele .error-text,
div.input-wrapper.input-type-email .error-text {
  font-size: .8em;
  text-align: right;
}
/*----------------------------------------------------------------------------
    Input Radio/Textarea
----------------------------------------------------------------------------*/
div.input-wrapper.input-type-radio-option,
div.input-wrapper.input-type-textarea textarea{
  flex-basis: 100%;
  margin: .3em 0px;
}

div.input-wrapper.input-type-radio-option input {
  margin: 0px 1em;
}

div.input-wrapper.input-type-textarea textarea {
  color: black;
  padding: .5em 15px;
}

div.input-wrapper.input-type-textarea textarea:focus {
  border-color: blue;
}
/*----------------------------------------------------------------------------
    Together
----------------------------------------------------------------------------*/
div#hero_module table.hero-table {
  width: 100%;
}

div#hero_module table.hero-table td{
  border: 1px black solid;
  padding: .4em;
}

div#hero_module table.hero-table td.hero-time-cell {
  text-align: center;
}
/*----------------------------------------------------------------------------
    Activities
----------------------------------------------------------------------------*/
div#activities_module {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
}

div#activities_module #activities-content{
  max-width: 1200px;
  margin: auto;
}

div#activities_module div.filter,
div#activities_module #activity-day-selection {
  display: flex;
  margin-bottom: 2px;
}

div#activities_module div.filter div,
div#activities_module #activity-day-selection .day-button{
  border: 1px black solid;
  padding: .5em 1em;
  cursor: pointer;
  background-color: gray;
  color: white;
  user-select: none;
}

div#activities_module div.filter div.selected,
div#activities_module #activity-day-selection .day-button.selected {
  text-decoration: underline;
  font-weight: bold;
  background-color: dimgray;
}

div#activities_module table {
  width: 100%;
  margin-bottom: 1em;
}

div#activities_module table td {
  background-color: white;
  border: none;
}

div#activities_module table td.table-header {
  padding: 1em;
  width: 40%;
}

div#activities_module table td.time-section{
  border-left: 1px solid lightgray;
  padding: 0px;
  vertical-align: top;
  min-width: 1.3em;
}

div#activities_module table .time {
  position: relative;
  left: -50%;
  margin-bottom: 1em;
  text-align: center;
}

div#activities_module table .time-label {
  background: white;
  padding: 4px 3px;
  display: inline-block;
}

div#activities_module table .sectioning-row.before {
  height: 0.8em;
  border-top: 1px solid lightgray;
}

div#activities_module table .sectioning-row.after {
  height: 0.8em;
  border-bottom: 1px solid lightgray;
}

div#activities_module table .activity-row td.odd,
div#activities_module table .sectioning-row td.odd {
  background-color: whitesmoke;
}


div#activities_module table .activity-row td.activity-title {
  cursor: pointer;
  padding: 1em 0;
}

div#activities_module table .flag-wrapper,
div#activities_module table .title-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1em;
}

div#activities_module table .activity-row .activity-choice {
  width: 100%;
  border: 1px solid black;
  color: black;
  min-width: 1em;
  font-size: .8em;
  height: 2em;
  cursor: pointer;
  display: flex;
  margin: 0px;
}

div#activities_module table .activity-row td {
  height: 1em;
  padding: 0;
  min-width: .5em;
}

div#activities_module table .activity-row.magic .activity-choice {
  color: white;
}

div#activities_module table .activity-row .activity-choice *{
  user-select: none;
  margin: auto;
}

div#activities_module table td.description-cell {
  padding: 1em;
}
/*----------------------------------------------------------------------------
    Wear
----------------------------------------------------------------------------*/
#wear_module {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
  column-gap: 1em;
}

#wear_module .wear-item select{
  flex: 0 0 100%;
}
/*----------------------------------------------------------------------------
    Confirm
----------------------------------------------------------------------------*/
div#submit_module h3 {
  color: black;
  text-align: center;
  background-color: lightgray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div#submit_module .errors h3 {
  background-color: salmon;
}

div#submit_module table {
  width: 100%;
}

div#submit_module td:nth-child(1) {
  text-align: left;
}

div#submit_module td:nth-child(2) {
  text-align: right;
}

div#submit_module .signup-data button {
  margin: 2em auto;
  display: block;
  font-size: 1.5rem;
  padding: .3rem .7rem;
}
